body {
    margin: 0 100px;
    background: rgb(245, 245, 245);
}

.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
section {
    margin: 80px 0;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 25px;
    border: none;
}

.btn-primary:hover {
    background-color: tomato;
    cursor: pointer;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.paragraph {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 500px;
}

/* banner */
.banner {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 90px;
    display: flex;
    justify-content: space-between;

}

.banner-1 p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}

.banner-1 h1 {
    font-size: 40px;
    font-weight: 700;
}

.banner-2 img {
    margin-left: 20px;
}

/* vision */

.cards {
    display: flex;
    gap: 20px;
}

.card {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 25px;
}

.card-2 {
    background-color: rgb(198, 228, 214);
}

.card-3 {
    background-color: rgb(247, 235, 207);
}

.btn-learn {
    background-color: rgb(84, 144, 245);
}

.btn-modern {
    background-color: rgb(255, 194, 57);
}

/* quote */
.quote {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 40px 0;
    padding: 48px 24px 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 40px;

}

.chief {
    color: rgba(14, 14, 14, 0.8);
}

/* news */
.news-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 40px;
}

.news-card-img {
    margin-right: 30px;
}

.news-card-img img {
    border-radius: 24px;
}

.date-time {
    display: flex;
    gap: 10px;
}

/* donation */
.donation {
    text-align: center;
}

.donate-cards {
    display: flex;
    justify-content: space-evenly;
}

.donate-card {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 30px;
}

.donate-card:hover {
    background-color: tomato;
    cursor: pointer;
}

.two-taka {
    background-color: rgb(198, 228, 214);
}

.money-input {
    background-color: rgb(255, 255, 255)s;
    margin: 30px 0;
    width: 200px;
    padding: 20px 350px;
    border: none;
    text-align: center;
}