body {
    margin: 0 100px;
}

.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 25px;
    border: none;
}

.btn-primary:hover {
    background-color: tomato;
    cursor: pointer;
}

h2 {
    font-size: 30px;
}

.paragraph {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

/* banner */
.banner {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 90px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.banner-1 p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}

.banner-1 h1 {
    font-size: 40px;
    font-weight: 700;
}

.banner-2 img {
    margin-left: 20px;
}

/* vision */

h4 {
    font-size: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 25px;
}

.card-2 {
    background-color: rgb(198, 228, 214);
}

.card-3 {
    background-color: rgb(247, 235, 207);
}

.btn-learn {
    background-color: rgb(84, 144, 245);
}

.btn-modern {
    background-color: rgb(255, 194, 57);
}